/* hides the native tabs */
#TabsToolbar {
  visibility: collapse;
}

/* hides the title bar */
#titlebar {
  visibility: collapse;
}

/* hides the sidebar */
#sidebar-header {
  visibility: collapse !important;
} 
